:root {
  --font-size: 12px;
  --title-font-size: 20px;
  --background-color: #262421;
  --color: rgb(186, 186, 186);
  --success: #68ab5e;
  --success-dark: #293f21;
  --error: #ab615e;
  --error-dark: #3f2221;
  --tab-background-color: rgb(22, 21, 18);
  --tab-active-background-color: rgb(64, 64, 64);
  --tab-hover-background-color: #444;
  --tab-border-color: rgb(64, 64, 64);
}

.ca_container_root {
  font-size: var(--font-size);
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vmin;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-radius: 3px;
}

.ca_opponent_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0 !important;
}

.ca_opponent_info_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  margin-left: 10px;
}

.ca_container {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.ca_auth_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.ca_section {
  margin: 10px 0;
}

.ca_title {
  font-size: var(--title-font-size);
  font-weight: bold;
}

.ca_opponent_colour {
  height: 12px;
  width: 12px;
  vertical-align: middle;
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
}

.ca_white {
  background-color: var(--color);
  border-color: var(--color);
}

.ca_black {
  background-color: var(--background-color);
  border-color: var(--color);
}

.ca_opponent_name {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 5px;
}

.ca_game_type {
}

.ca_win_streak_value {
  padding: 0 2px;
}

.ca_win_streak_value.ca_negative {
  background-color: var(--error-dark);
  border: 2px solid var(--error);
}

.ca_win_streak_value.ca_positive {
  background-color: var(--success-dark);
  border: 2px solid var(--success);
}

.ca_game_info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}

.ca_puzzle_rating {
}

.ca_tabs {
  margin-top: 20px;
  border-bottom: 1px solid var(--tab-border-color);
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.ca_tabs.left_align {
  justify-content: flex-start;
}

.ca_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--tab-background-color);
  padding: 4px 8px;
  text-align: center;
  margin: 0 1px;
  width: 80px;
}

.ca_tab:hover {
  cursor: pointer;
  background-color: var(--tab-hover-background-color);
}

.ca_tab.ca_active:hover {
  cursor: default;
}

.ca_tab:active,
.ca_tab.ca_active {
  background-color: var(--tab-active-background-color);
}

.ca_tabs.fill_width .ca_tab {
  flex-grow: 1;
}

.ca_tab.ca_tab_icon {
  width: 50px;
}

.ca_tab_section {
  width: 100%;
  height: 100%;
}

.ca_hidden {
  display: none !important;
}

.ca_elo_range {
  margin-right: 20px;
  position: relative;
  height: 1px;
  width: 100px;
  background-color: var(--color);
}

.ca_elo_range .ca_elo_range_lowest,
.ca_elo_range .ca_elo_range_current,
.ca_elo_range .ca_elo_range_highest {
  position: absolute;
  bottom: -5px;
  height: 10px;
  width: 3px;
  background-color: var(--color);
  border-radius: 2px;
}

.ca_elo_range .ca_elo_range_lowest {
  left: 0;
}

.ca_elo_range .ca_elo_range_lowest {
  transform: translateX(-50%);
}

.ca_elo_range .ca_elo_range_highest {
  transform: translateX(50%);
}

.ca_elo_range .ca_elo_range_lowest_value,
.ca_elo_range .ca_elo_range_current_value,
.ca_elo_range .ca_elo_range_highest_value {
  position: absolute;
  top: 15px;
  transform: translateX(-50%);
}

.ca_elo_range .ca_elo_range_current {
  bottom: -10px;
  height: 20px;
  left: 50%;
  width: 5px;
}

.ca_elo_range .ca_elo_range_current_value {
  top: -15px;
  left: 50%;
}

.ca_elo_range .ca_elo_range_highest {
  right: 0;
}

.ca_button {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ca_button:hover {
}

.ca_btn-win {
  background-color: var(--success);
}

.ca_btn-lose {
  background-color: var(--error);
}

.ca_button.selected {
  border: 2px solid var(--color);
}

.ca_textarea {
  width: 100%;
  height: 200px;
  padding: 4px;
}

.ca_stats,
.ca_openings,
.ca_notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ca_save_opponent_notes_form {
  width: 100%;
}

.ca_loader {
  margin: 15px;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: var(--error);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.ca_loader_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.ca_error {
  width: 100%;
  text-align: center;
  padding: 12px;
  background-color: var(--error);
  margin-bottom: 20px;
  color: white;
}

.ca_green_colour {
  color: var(--success);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
