.ca_container_root {
  padding: 20px 10px;
  font-family: sans-serif;
  background-color: #262421;
  color: rgb(186, 186, 186);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.ca_container {
  padding: 10px;
  font-family: sans-serif;
  background-color: #262421;
  color: rgb(186, 186, 186);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.ca_section {
}

.ca_opponent_name {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 10px;
}

.ca_game_type {
}

.ca_win_streak_value {
  padding: 4px 8px;
  color: white;
  margin-left: 4px;
}

.ca_win_streak_value.ca_negative {
  background-color: #3f2221;
  border: 2px solid #ab615e;
}

.ca_win_streak_value.ca_positive {
  background-color: #293f21;
  border: 2px solid #68ab5e;
}

.ca_tabs {
  margin: 20px 0;
  border-bottom: 1px solid rgb(64, 64, 64);
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.ca_tabs.left_align {
  justify-content: flex-start;
}

.ca_tab {
  background-color: rgb(22, 21, 18);
  padding: 6px 8px;
  text-align: center;
  margin: 0 1px;
  width: 80px;
}

.ca_tab:hover {
  cursor: pointer;
  background-color: #444;
}

.ca_tab.ca_active:hover {
  cursor: default;
}

.ca_tab:active,
.ca_tab.ca_active {
  background-color: rgb(64, 64, 64);
}

.ca_tabs.fill_width .ca_tab {
  flex-grow: 1;
}

.ca_tab.ca_tab_icon {
  width: 50px;
}

.ca_tab_section {
  width: 100%;
  height: 100%;
}

.ca_hidden {
  display: none !important;
}

.ca_button {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.ca_button:hover {
}

.ca_btn-win {
  background-color: #68ab5e;
}

.ca_btn-lose {
  background-color: #ab615e;
}

.ca_button.selected {
  border: 2px solid gray;
}

.ca_textarea {
  width: 100%;
  height: 200px;
  padding: 4px;
}

.ca_stats_chart_buttons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 10px;
}

.ca_loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ab615e;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.ca_loader_container {
  display: flex;
  height: 100%;
  align-items: center;
}

.ca_error {
  width: 100%;
  text-align: center;
  padding: 12px;
  background-color: #ab615e;
  margin-bottom: 20px;
  color: white;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
