:root {
  --color: var(--nodeColor);
  --tab-border-color: var(--nodeColor);
  --placeholder-color: hsla(0,0%,100%,.1);
  --success-dark: var(--color-bg-win);
  --error-dark: var(--color-classification-miss);
}

.ca_placeholder {
}

.ca_placeholder.ca_placeholder_enabled {
  color: transparent !important;
  background-color: var(--placeholder-color) !important;
  animation:
      fadeIn linear 0.5s,
      flickerAnimation linear 1s infinite 0.5s;
  pointer-events: none;
  border-radius: 3px;
  overflow: hidden;
}

.ca_opponent_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0 !important;
}

.ca_opponent_info_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  margin-left: 10px;
}

.ca_win_streak_value {
  border-radius: 4px;
  padding: 0 2px;
  color: var(--color-gray-900);
}

.ca_win_streak_value.ca_negative {
  background-color: var(--error-dark);
}

.ca_win_streak_value.ca_positive {
  background-color: var(--success-dark);
}
