.ca_chesscom {
  --width: 400px;
  --collapse-width: 20px;

  width: var(--width);
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--color-gray-800);
  z-index: 999;
  transition: right 0.5s cubic-bezier(0.15, 0.85, 0.35, 1);

  &.ca_chesscom_invisible {
    right: calc((var(--width) * -1) + var(--collapse-width));
  }
}

.ca_chesscom__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: var(--collapse-width);
  padding: 40px 20px;
  height: 100%;
  overflow-y: auto;
}

.ca_chesscom__collapse {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--collapse-width);
  background-color: var(--color-gray-700);
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: var(--color-gray-600);
    cursor: pointer;
  }

  &.ca_chesscom__collapse-visible::after {
    content: "\27E9";
  }

  &.ca_chesscom__collapse-invisible::after {
    content: "\27E8";
  }

  &::after {
    font-size: 20px;
    font-weight: bold;
    left: 0;
    height: 100%;
    width: 20px;
    display: flex;
    justify-content: center;
    color: var(--color-gray-200);
    align-items: center;
  }
}

@media (max-height: 968px) {
  .ca_chesscom__collapse-logo {
    display: none;
  }
}

.ca_chesscom__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ca_chesscom__header-title {
  color: var(--color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5px;
}

.ca_chesscom__header-title-opponent-name {
  color: var(--success);
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ca_chesscom__summary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: var(--color);
}

.ca_chesscom__opponent-notes {
  height: 110px;
}

.ca_charts_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}