service: chess-analytics

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-2

  apiGateway:
    usagePlan:
      quota:
        limit: 10000
        period: MONTH
      throttle:
        burstLimit: 100
        rateLimit: 100

  memorySize: 128
  timeout: 30
  logRetentionInDays: 14

  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:*"
          Resource: "*"

functions:
  fetchUserAnalytics:
    handler: src/handlers/fetch-user-analytics.fetchUserAnalytics
    events:
      - http:
          path: /user-analytics
          method: get
          cors: true
  getOpponentNotes:
    handler: src/handlers/opponent-notes.getOpponentNotes
    events:
      - http:
          path: /opponent-notes
          method: get
          cors: true
  createOrUpdateOpponentNotes:
    handler: src/handlers/opponent-notes.createOrUpdateOpponentNotes
    events:
      - http:
          path: /opponent-notes
          method: post
          cors: true

resources:
  Resources:
    opponentNotesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: opponent_notes
        AttributeDefinitions:
          - AttributeName: username
            AttributeType: S
          - AttributeName: opponent_name
            AttributeType: S
        KeySchema:
          - AttributeName: username
            KeyType: HASH
          - AttributeName: opponent_name
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
