:root {
  --font-size: 12px;
  --title-font-size: 20px;
  --background-color: var(--c-bg-box);
  --color: var(--c-font, var(--nodeColor));
  --success: var(--c-secondary-dim, var(--color-green-400));
  --success-dark: var(--c-secondary-dimmer, var(--color-green-500));
  --error: #ab615e;
  --error-dark: var(--m-bad_bg--mix-25, #ab615e);
  --tab-background-color: var(--c-bg-page);
  --tab-active-background-color: var(--c-bg-box);
  --tab-hover-background-color: var(--m-accent_bg--mix-15);
  --tab-border-color: var(--c-border, var(--nodeColor));
  --placeholder-color: var(--c-bg-page, hsla(0,0%,100%,.1));
  --textarea-background-color: var(--c-bg-box, var(--color-bg-secondary));
}

.ca_placeholder {
}

.ca_placeholder.ca_placeholder_enabled {
  color: transparent !important;
  background-color: var(--placeholder-color) !important;
  animation:
      fadeIn linear 0.5s,
      flickerAnimation linear 1s infinite 0.5s;
  pointer-events: none;
  border-radius: 3px;
  overflow: hidden;
}

.ca_container_root {
  font-size: var(--font-size);
  font-family: sans-serif;
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(---block-gap);
  box-shadow:
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  overflow: hidden;
}

.ca_opponent_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0 !important;
}

.ca_opponent_info_sections {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.ca_opponent_info_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  margin-left: 10px;
}

.ca_container {
  font-family: sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.ca_section {
  margin: 10px 0;
}

.ca_opponent_colour {
  height: 12px;
  width: 12px;
  vertical-align: middle;
  border: 2px solid;
  border-radius: 50%;
  display: inline-block;
}

.ca_white {
  background-color: var(--color);
  border-color: var(--color);
}

.ca_black {
  background-color: var(--background-color);
  border-color: var(--color);
}

.ca_opponent_name {
  font-size: var(--title-font-size);
  font-weight: bold;
  margin-bottom: 5px;
}

.ca_game_type {
}

.ca_win_streak_value {
  border-radius: 4px;
  padding: 0 2px;
}

.ca_win_streak_value.ca_negative {
  background-color: var(--error-dark);
}

.ca_win_streak_value.ca_positive {
  background-color: var(--success-dark);
}

.ca_game_info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}

.ca_puzzle_rating {
}

.ca_tabs {
  margin-top: 10px;
  border-bottom: 1px solid var(--tab-background-color);
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  /*text-transform: capitalize;*/
}

.ca_tabs.left_align {
  justify-content: flex-start;
}

.ca_tab_section {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ca_hidden {
  display: none !important;
}

.ca_button {
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.ca_button.ca_button_large {
  padding: 6px 10px;
}

.ca_button:hover {
}

.ca_btn-win {
  background-color: var(--success);
}

.ca_btn-win:hover {
  background-color: var(--success-dark);
}

.ca_btn-win[disabled] {
  background-color: var(--success-dark);
  pointer-events: none;
}

.ca_btn-lose {
  background-color: var(--error);
}

.ca_button.selected {
  border: 2px solid var(--color);
}

.ca_textarea {
  width: 100%;
  padding: 4px;
  color: var(--color);
  font-size: var(--font-size);
  background-color: var(--textarea-background-color);
}

.ca_stats,
.ca_openings,
.ca_notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
}

#ca_save_opponent_notes_form {
  width: 100%;
}

.ca_notes_tab_trigger > svg {
  height: var(--font-size);
}

.ca_green_colour {
  color: var(--success);
}

@keyframes fadeIn {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.75;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
